$font1: 'Montserrat', sans-serif;

body{
    background-color: #0BC9CD;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}

.main{
    height: 100%;
}


.slider{
    -webkit-appearance: none;
    appearance: none;
    width: 40vw;
    height: .3vh;
    border-radius: 2vw;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 3vw;
    height: 2vh;
    border-radius: 2vw;
    background: #7C77B9;
    cursor: pointer;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 2vw;
    height: 2vh;
    background: #7C77B9;
    cursor: pointer;
}

.word_row{
    padding-top: 7vh;
    margin-top: 0vh;
    font-family:  $font1;
    text-align: center;
    font-size: 7.4rem;
    margin-bottom: 1vh;
}

.reader_bar{
    display: inline-block;
}

.flex_row{
    margin-left: .4vw;
    margin-right: .4vw;
}

.wpm_row{
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
    margin-left: 0vw;

    font-size: 4rem;


}

.wpm{
    display: flex;
    font-family: $font1;
    text-shadow: -.3vh .3vh #ffffff;
}

.wpm_num{
    font-family: $font1;
    text-shadow: -.3vh .3vh #ffffff;
}



.slider_row{
    align-self: center;
    margin-bottom: 4vh;
}

.cont_row{
    display: flex;
    margin-bottom: 4vh;
}

.button{

    display: inline-block;
    align-self: center;
    text-align: center;
    width: 12vw;
    height: 4rem;
    
    border: solid .3vh white;

    cursor: pointer;

    color: white;
    font-size: 3rem;
    font-family: $font1;

    transition: color 300ms, background 300ms, border 300ms;
}

.play{
    background: #1D8A99;
    
}


.pause{
    background: #8FBFE0;

}


.stop{
    background: #7C77B9;

}

.info-button{
    background: rgb(131, 162, 255);

}

.button:hover{
    background: white;
    transition: color 300ms, background 300ms;
}

.play:hover{
    color: #1D8A99;
}

.pause:hover{
    color: #8FBFE0;
    
}

.stop:hover{
    color: #7C77B9;
    
}

.info-button:hover{
    color: rgb(131, 162, 255);
    
}

.input {
    border: white;
    resize: none;
    width: 55vw;
    height: 35vh;
    font-family: $font1;
    margin-bottom: 3.15rem;
}

.wrapper{
    display: flex;
    justify-content: center;
}

.info{
    margin-top: 7vh;
    
    background: #1D8A99;
    width: 80vw;
    text-align: center;
    max-width: 100%;
    font-family: $font1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50rem;
    margin-bottom: .68rem;
}

.info_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info_header{
    
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4vw;
    color: white;
    width: 80vw;
    text-shadow: -.2vw .2vw #000000;
    
    h2{
        text-shadow: -.3vw .3vw #000000;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.info_text {
    text-align: center;
    width: 50vw;
    margin-top: 3vh;
    font-size: 2.5rem;
    font-family: $font1;
    margin-bottom: 0;
}

.close {

    color: #aaaaaa;
    float: right;
    font-size: 4rem;
    font-weight: bold;
    margin-left: 76vw;
    margin-top: 2rem;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



footer{
    margin-top: 5vh;
}

@media (max-width: 1024px) {


    .word_row{
        margin-top: 0vh;
        padding-top: 8vh;
        font-family: $font1;
        text-align: center;
        font-size: 10vw;
        margin-bottom: 6vh;
    }

    .wpm_row{
        display: flex;
        justify-content: center;
        
        margin-bottom: 0vh;
        margin-left: 0vw;

        font-size: 3rem;
    }

    .wpm{
        display: flex;
        font-family: $font1;
        text-shadow: -.3vh .3vh #ffffff;
        margin-bottom: 1vh;
    }

    .wpm_num{
        font-family: $font1;
        text-shadow: -.3vh .3vh #ffffff;
    }
    .slider{
        -webkit-appearance: none;
        appearance: none;
        width: 55vw;
        height: .7vh;
        outline: none;
        -webkit-transition: .2s;
        transition: opacity .2s;
        margin-top: 0vh;
        margin-bottom: 0vh;
    }

    .slider::-moz-range-thumb {
        -webkit-appearance: none;
        width: 8vw;
        height: 2vh;
    }

    .slider::-webkit-slider-thumb{
        -webkit-appearance: none;
        width: 8vw;
        height: 2vh;
    }

    .cont_row{
        
        margin-top: 0vh;
        margin-bottom: 4vh;
        
        width: 60vw;
        display: flex;
        justify-content: space-around;

    }

    .button{


        align-self: center;
        text-align: center;
        width: 18vw;
        height: 3rem;
        color: white;
        border: solid .3vh white;

        padding: 0px;

        cursor: pointer;

        font-family: $font1;
        font-size: 1.6rem;

        transition: color 300ms, background 300ms, border 300ms;
    }

    .input {
        margin-top: 0vh;
        font-size: 1.4rem;
        resize: none;
        width: 65vw;
        height: 35vh;
        margin-bottom: 2vh;
    }

    .info{
        
        margin-top: 16vh;
        margin-bottom: 30vh;
    }

    .info_header{
    
        margin: 0;
        font-size: 2rem;
        color: white;
        width: 80vw;


        text-shadow: -.4vh .4vh #000000;
        
        h2{
            width: 80vw;
            
            text-align: center;
            text-shadow: -.4vh .4vh #000000;
            margin: 0;
        }
    }
    
    .info_text {
        text-align: center;
        width: 50vw;
        margin-top: 3vh;
        font-size: 1rem;
        font-family: $font1;
        

    }

    .close {
        color: #aaaaaa;
        float: right;
        font-size: 3rem;
        font-weight: bold;
        margin-left: 65vw;
        cursor: pointer;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }   

    footer{
        margin-top: 16.2vh;
    }
}